@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
/* 독도체 font-family: "East Sea Dokdo", sans-serif; */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JeonjuSunR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/JeonjuSunR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #191919;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 10px;
  color: #191919;
  word-break: keep-all;
}
/* 공통요소 */
.wrap {
  position: relative;
}
.inner {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}
h3 {
  font-size: 2.5rem;
}
.title > img{
    width: 100px;
    height: 45px;
}
/* 헤더 */
/* 비디오 */
/* 우리 독도 */
/* 독도 행사 */
.event-inner{
  width: 100%;
  margin-left: 15%;
  background-color: blueviolet;
  /* display: flex; */
}
.event-left{
  background-color: bisque;
  width: 100%
}
.event-morebt{
  display: flex;
  align-items: center;
}
.event-left > h2{
  font-size: 2.0rem;
}
.event-left > span{

}
/* 독도 친구들 */
/* 독도 가는길 */
/* 독도 굿즈 */
/* 이벤트 */
/* 푸터 */