@media screen and (max-width: 1400px) {
  header > .inner {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }
  .bt-menu {
    display: block;
  }
  .header-right-icon {
    display: none;
  }
  .fa-chevron-down {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .logo img {
    width: 110px;
    height: auto;
  }
  .nav-m {
    width: 80%;
  }
  .nav-m-active {
    left: calc(100% - 80%);
  }
  .nav-m > .header-right-m {
    display: flex;
    gap: 10px;
  }
}
